<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Casas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <button (click)="boton1()" block id="id1">
    <img src="../../assets/images/leon.jpg" />
  </button>
  <button (click)="boton2()" block id="id2">
    <img src="../../assets/images/serpiente.jpg" />
  </button>
  <button (click)="boton3()" block id="id3">
    <img src="../../assets/images/tejon.jpg" />
  </button>
  <button (click)="boton4()" block id="id4">
    <img src="../../assets/images/aguila.jpg" />
  </button>
</ion-content>
